@font-face {
  font-family: 'ArialRoundedMTBold';
  src: url('./fonts/ArialRoundedMTBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ArialRoundedMTBold', Arial, sans-serif;
}
